@font-face{
    font-family: pop-r;
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face{
    font-family: pop-m;
    src: url("./fonts/Poppins-Medium.ttf");
}

@font-face{
    font-family: pop-sb;
    src: url("./fonts/Poppins-SemiBold.ttf");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: pop-r;
    color: white;
    background-image: radial-gradient(#4E6BA5,black 80%);
}


nav{
    height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    z-index: 2;
}

.hidden{
    display: none;
}


.navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: black;
    padding-bottom: 10px;
    position: absolute;
    transform: translateY(-20vh);
    opacity: 0;
    z-index: 1;
    box-shadow: 0px 5px 3px rgba(0,0,0,0.2);
}

a{
    text-decoration: none;
    color: snow;
}

.icon{
    font-size: 2rem;
    text-decoration: none;
    filter: drop-shadow(0px 5px 3px rgba(255,255,255,0.5));
    margin: 20px;
}

.page{
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;

    display: -ms-grid;
    -ms-grid-columns: 5% 1fr 1fr 1fr 5%;
}

.naruto,
.death-note{
    opacity: 0; 
    display: none;
}

.details{
    grid-column: 2/3;
    align-self: end;
    padding-bottom: 50px;

    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
}

.details h1{
    font-size: 64px;
    font-family: pop-m;
}

.details h2{
    font-size: 42px;
    padding: 10px 0;
}

.details h3{
    font-size: 24px;
}

.hero{
    height: 500px;
    display: flex;
    overflow: hidden;
    align-self: center;
    justify-self: center;

    grid-column: 3/4;
    -ms-grid-column: 3;
    -ms-grid-column-align: center;
}

.hero img{
    max-width: 150px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.hero-left{
    transform: translateY(-10%);
}

.hero-right{
    transform: translateY(10%);
}

.hero:hover .hero-left,
.hero:hover .hero-right{
    transform: translateY(0);
}

.slides{
    position: absolute;
    top:50%;
    right:5%;
    transform: translateY(-50%);
    justify-self: end;
    align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20%;
}

nav img{
    color: white;
    width: 40px;
    filter: drop-shadow(1px 1px 1px white);
}

.slides div{
    display: flex;
}

.slides p{
    padding-right: 20px;
    padding-top: 5px;
}

.slides svg{
    width: 16px;
    opacity: 0.5;
    cursor: pointer;
}

.slides svg:hover{
    animation: blow 0.6s ease-in-out infinite alternate;
}

.active{
    opacity: 1 !important;
}

@keyframes blow{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(2);
    }
}


@media (max-width:700px){
    .page{
        grid-template-columns: 5% 1fr 5%;

        -ms-grid-columns: 5% 1fr 5%;
    }
    .hero{
        grid-column: 2/3;
        grid-row: 1;
        height: auto;

        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }
    .details{
        justify-self: center;
        text-align: center;
    }
    .details h1{
        font-size: 32px;
    }
    .details h2{
        font-size: 24px;
    }
    .details p{
        display: none;
    }
    .hero img{
        height: 350px;
        width: 100px;
        transform: translateY(0%);
        transition: transform 0.3s ease-in-out;
    }
    
    .slides{
        position: absolute;
        top:35%;
        transform: translateY(-35%);
    }
}

@media (max-height: 600px){
    .details{
        display: none;
    }
}
